<!DOCTYPE >
<html>
  <head>
    <title>Pro Scrap</title>
  </head>
  <body>
    <h1>Pro Scrap (Search)</h1>
    <form id="" action="api/search" method="post">
      <input type="text" name="searchQuery" placeholder="Product Name" />
      <input type="submit" value="Search" />
    </form>
  </body>
  <a href="deep">Switch to deep search</a>
  <br />
  <a href="quick">Switch to quick search</a>
  <br />
  <a href="product">Switch to poduct search</a
  ><br />
  <a href="reviews">Switch to reviews search</a
  ><br />
</html>
