<!DOCTYPE >
<html>
  <head>
    <title>Pro Scrap</title>
  </head>
  <body>
    <h1>Pro Scrap (Poduct Search)</h1>

    <form id="" action="/api/product" method="post">
      <input type="text" name="searchQuery" placeholder="Product Hash" />
      <input type="submit" value="Search" />
    </form>
    <p>
      Enter the product hash to search for the product. You can find the product
      hash in the response of the deep/quick search for a product.
    </p>
  </body>
  <a href="quick">Switch to quick search</a
  ><br />
  <a href="/">Switch to deep search</a
  ><br />
  <a href="reviews">Switch to reviews search</a
  ><br />
</html>
